* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

/*header*/
header {
    height: 200px;
}

.logo_nav {
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-between;
    padding-top: 10px;
}

.logo {
    width: 150px;
    height: 35px;
    margin-left: 10px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    height: 100px;
    padding-top: 15px;
    background-color: blueviolet;
}

nav {
    padding-right: 40px;
}

nav a {
    margin-left: 70px;
    background-color: rgb(159, 159, 199);
    border-style: solid;
    border-color: black;
    font-size: 20px;
    text-decoration: none;
}

/*buscador*/
.buscador {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 25px;
}

/*main*/
.section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
}

.section2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
}

.cards {
    width: 301px;
    border-style: solid;
    border-color: black;
    height: 345px;
}

.cards p,
h2 {
    text-align: center;
}

.card p {
    padding-top: 15px;
}

h2 {
    margin-bottom: 10px;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.image_card {
    width: 290px;
    margin-left: 2px;
    margin-top: 5px;
    height: 190px;
}

/*footer*/
.redes {
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 100px;
}
footer p {
    font-size: 30px;
    padding-right: 20px;
}
.iconos_redes {
    padding-left: 20px;
}

/*contact*/
.formu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

label {
    padding-right: 30px;
    padding-left: 50px;
}

form p {
    font-size: x-large;
}

.text-input {
    width: 400px;
    height: 30px;
}

/*stats*/
table {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    empty-cells: show;
    border-collapse: collapse;
}

tr,
td {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

td {
    height: 30px;
}

th {
    float: left;
}

/*details*/
.detailsmain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
.cards2 {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: row;
}
.description {
    display: flex;
    flex-direction: column;
}

/*responsive*/
@media screen and (max-width: 1200px) {
    .section1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
    }
    .cards {
        margin: 30px;
    }
    .cards {
        width: 451px;
        border-style: solid;
        border-color: black;
        height: 500px;
    }
    .image_card {
        width: 390px;
        margin-left: 25px;
        margin-top: 15px;
        height: 290px;
    }

}

@media screen and (max-width: 1075px) {
    .buscador {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    label {
        padding-right: 2px;
        padding-left: 25px;
    }

}

@media screen and (max-width: 990px) {
    nav {
        padding-right: 10px;
    }
    nav a {
        margin-left: 10px;
        background-color: rgb(159, 159, 199);
        border-style: solid;
        border-color: black;
        font-size: 20px;
        text-decoration: none;
    }
}

@media screen and (max-width: 770px) {
    .buscador {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    label {
        padding-right: 0px;
        padding-left: 0px;
    }
    header {
        height: 200px;
    }
    .logo_nav {
        display: flex;
        flex-direction: column;
        height: 100px;
        padding-bottom: 15px;

    }
    .logo {
        width: 150px;
        height: 35px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 600px) {
    .buscador {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    input {
        margin-top: 20px;
    }
}

@media screen and (max-width: 520px) {
    .logo_nav {
        display: flex;
        flex-direction: column;
        height: 200px;
        align-items: center;
        padding-top: 10px;
    }
    .logo {
        margin-left: 0px;
    }
    nav {
        display: flex;
        flex-direction: column;
        padding-right: none;

    }
    nav a {
        margin-left: 0px;
        background-color: rgb(159, 159, 199);
        border-style: solid;
        border-color: black;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
        width: 200px;
    }
    .buscador {
        padding-top: 100px;
    }
    table {
        padding-top: 150px;
    }
    .formu {
        padding-top: 100px;
    }
}

@media screen and (max-width: 460px) {

}